[display]
viewport=1280x720

[gource]
auto-skip-seconds=.001
background-colour=000000
bloom-intensity=.45
file-extensions=true
file-idle-time=0
font-colour=FFFFFF
font-size=33
hide=filenames,progress
highlight-dirs=true
key=true
seconds-per-day=10
stop-at-end=true
time-scale=3
title=FOSS@RIT -- https://github.com/fossrit/

